#Bariloche, #StPetesburgo, #NewYork, #Portland , #Riodejaneiro,
#BuenosAires, #LosAngeles, #LasVegas{

  display: none;
}

img{
  width: 280px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #ff9933;
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);


}
.jumbotron{
  text-align: center;
  background-color:#3385ff;
  background-image:url("../img/travelling.jpg");
  background-size: cover;
  color:#ff9933;
  text-shadow: 1px 1px 0 #222;

}
h1{
  margin-bottom:20px;
  color:#ff9933;
  text-shadow: 1px 1px 0 #222;
  text-align: center;
}

.container1{
  height:40px;
  text-align: center;
  margin:0 auto;
  padding: 10px;
  color: white;
  background-color:#0066ff;
  margin-top:-30px;

}

.container2{
  text-align: center;
}
.container3{
  width: 900px;
  margin: 0 auto;
  text-align:justify;
  color: #000099;

}

.btn{
  margin-top:30px;
}

p{
  width: 500px;
  margin: 0 auto;
  margin-top:30px;
  margin-left: 10px;
  color: #000099;
}
body{
  background-color: #ffffe6;
}
